html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.loading #loading {
    display: flex;
}

.loading #content {
    display: none;
}

#loading {
    display: none;
    color: #787878;
    font-size: 1.2em;
    font-weight: 700;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading img {
    width: 4em;
    height: 4em;
    animation: normal rotate 2s infinite linear;
}

#content {
    position: relative;
}

.value-display {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: top 1s;
}

.value-display > div {
    margin-right: 0.5em;
}

.increment-container {
    position: relative;
}

.increment-value {
    display: none;
}

.increment-value:before {
    content: attr(value);
    -webkit-text-stroke: 4px currentColor;
    position: absolute;
}
.increment-value:after {
    content: attr(value);
    position: absolute;
}

.increment-value.increment:after {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to bottom, #97ea8a 0%,#55d30c 50%,#22bc0b 51%,#188407 100%);
    -webkit-background-clip: text;
}

.increment-value.decrement:after {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to bottom, hsl(0, 70%, 73%) 0%,hsl(0, 89%, 44%) 50%,hsl(0, 89%, 39%) 51%,hsl(0, 90%, 27%) 100%);
    -webkit-background-clip: text;
}

.increment-value.increment, .increment-value.decrement {
    display: block;
    opacity: 0;
    position: relative;
    animation: normal spawn 4s linear;
}
.increment-value.increment:before, .increment-value.increment:after, .increment-value.decrement:before, .increment-value.decrement:after {
    animation: normal spawn-pseudo 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spawn {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes spawn-pseudo {
    0% {
        transform: translate(0, 100%);
    }
    80% {
        transform: translate(0, -10%);
    }
    100% {
        transform: translate(0, 0%);
    }
}